@model IEnumerable<Sistema_de_Biblioteca.ViewModels.EmprestimoViewModel>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataLimiteEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobrenomeAluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataLimiteEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobrenomeAluno)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
