@model IEnumerable<Sistema_de_Biblioteca.ViewModels.LivroViewModel>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listando todos os livros cadastrados</h1>

<p>
    <a asp-action="Cadastrar">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Autor
            </th>
            <th>
                Edição do Livro
            </th>
            <th>
                Ano de Publicação
            </th>
            <th>
                Números de páginas
            </th>
            <th>
                Genêro
            </th>
            <th>
                Editora
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
