@model Sistema_de_Biblioteca.Models.Funcionario

@{
    ViewData["Title"] = "View";
}

<h1>Deletar funcionário</h1>

<h3>Você tem certeza que quer deletar esse registro?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PasswordHash)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone.Numero)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDemissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDemissao)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="hidden" asp-for="FuncionarioId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Listar">Voltar para a lista</a>
    </form>
</div>
