@model IEnumerable<Sistema_de_Biblioteca.ViewModels.FuncionarioViewModel>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar todos os funcionários cadastrados</h1>

<p>
    <a asp-action="Cadastrar">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                CPF
            </th>
            <th>
                UserName
            </th>
            <th>
                Endereço - CEP
            </th>
            <th>
                Endereço - Bairro
            </th>
            <th>
                Endereço - Cidade
            </th>
            <th>
                Endereço - Estado
            </th>
            <th>
                Telefone - Tipo
            </th>
            <th>
                Telefone - DDD
            </th>
            <th>
                Telefone - Numero
            </th>
            <th>
                Email
            </th>
            <th>
                Cargo
            </th>
            <th>
                Data de Admissao
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
